body {
    background-color:  #F1F3F5;
    font-family: 'Source Sans Pro';
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
.position {
  max-width: 45%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
header {
  display: flex;
  flex-direction: column;
  height:10vw;
width: 100%;
margin: 20px auto;
align-items: center;
}
nav {
  display: flex;
  justify-content:space-between;
  width: 100%;
  align-items: end;
}
.nav_list {
  list-style-type: none;
  display: flex;
  flex-direction: row;

}
.nav_list-item {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #242635;
  text-decoration: none;
  padding: 10px;
}

//.nav_list-item:hover {color:#DBD5D4;transition: background-color 0.3s ease;}//
.logo {
    font-family: 'Aldrich';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
letter-spacing: -0.25px;
color: #242635;
  }
h1 {
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 90px;
line-height: 102px;
letter-spacing: -2px;
color: #242635;
text-align: center;
}
.content {
  font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 33px;
text-align: center;
color: #242635;
margin-bottom: 50px;
}
img {
  height: fit-content;width: fit-content;
}
.main {
  display:flexbox;
  align-items: center;
}
.fa-solid, .fa-ellipsis {
  opacity: 0;
  scale:2;
}
i {
  margin-bottom: 15px;
}
.horses {
  display: block;

}
.horsesphone {
  display: none;
}
.horsetablet {
  display: none;
}
@media screen and (max-width: 480px) 
{
  .patagonia {
    font-size: 36px;
    line-height: 40px;}
    .nav_list-item {
      display: none;}
      .fa-solid, .fa-ellipsis {
        opacity: 1;}
    .horses {
      display: none;}
    .horsesphone {
      display: block;
    }
    .horsetablet {
      display: none;
    }
    .content {
      font-size: 12px;
    line-height: 18px;
    }
}
@media screen and (min-width: 480px) and (max-width: 768px) 
{
  .patagonia {
    font-size: 72px;
    line-height: 83px;
  }
  .horses {
    display: none;
  }
  .horsesphone {
    display: none;
  }
  .horsetablet {
    display: block;
  }
  .content {
    font-size: 22px;
    line-height: 33px;
  }
  }

@media screen and (min-width: 769px)
{
  
  .horses {
    display: block;
  }
  .horsesphone {
    display: none;
  }
  .horsetablet {
    display: none;
  }

}
  