body {
  background-color: #F1F3F5;
  font-family: "Source Sans Pro";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.position {
  max-width: 45%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 10vw;
  width: 100%;
  margin: 20px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.nav_list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav_list-item {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #242635;
  text-decoration: none;
  padding: 10px;
}

.logo {
  font-family: "Aldrich";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.25px;
  color: #242635;
}

h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 90px;
  line-height: 102px;
  letter-spacing: -2px;
  color: #242635;
  text-align: center;
}

.content {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  color: #242635;
  margin-bottom: 50px;
}

img {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.main {
  display: flexbox;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa-solid, .fa-ellipsis {
  opacity: 0;
  scale: 2;
}

i {
  margin-bottom: 15px;
}

.horses {
  display: block;
}

.horsesphone {
  display: none;
}

.horsetablet {
  display: none;
}

@media screen and (max-width: 480px) {
  .patagonia {
    font-size: 36px;
    line-height: 40px;
  }
  .nav_list-item {
    display: none;
  }
  .fa-solid, .fa-ellipsis {
    opacity: 1;
  }
  .horses {
    display: none;
  }
  .horsesphone {
    display: block;
  }
  .horsetablet {
    display: none;
  }
  .content {
    font-size: 12px;
    line-height: 18px;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .patagonia {
    font-size: 72px;
    line-height: 83px;
  }
  .horses {
    display: none;
  }
  .horsesphone {
    display: none;
  }
  .horsetablet {
    display: block;
  }
  .content {
    font-size: 22px;
    line-height: 33px;
  }
}
@media screen and (min-width: 769px) {
  .horses {
    display: block;
  }
  .horsesphone {
    display: none;
  }
  .horsetablet {
    display: none;
  }
}